*{
    margin: 0;
    padding: 0;
}
  
header{
    width: 100vw;
    height: 4rem;
    background-color: white;
    position: fixed;
    transition: box-shadow 100ms ease-in-out;
    z-index: 999;
}
  
.header-box-shadow{
    box-shadow: rgba(22, 18, 18, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #4db2da;
}
  
header > ul {
    padding: 1rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    list-style: none;
    z-index: -111;
}
  
.logo_wrap{
    position: absolute;
    top: -1rem;
    left: calc(50vw - 3rem);
}
  
.logo_img{
    width: 6rem;
    height: auto;
}
  
a{
    font-family: "Poppins", sans-serif;
    color: black !important;
    transition: all 50ms linear;
    text-decoration-line: none !important;
}
    
a:hover{
    color: white !important;
    cursor: pointer;
}

h1{
    width: 100%;
    text-align: center;
}

h2{
    width: 100%;
    text-align: center;
}

.cardapio_title{
    font-family: "Poppins", sans-serif;
}

.wrap-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6vh;
}

.wrap-everything {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
  
}

.content{
    height: auto;
    width: 100%;
    margin-top: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 5px;
}

.hidden {
    display: none !important;
}

.btn-group{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.card-img-top {
    width: auto;
    height: 15rem;
    padding: 1rem;
}

.card{
    width: 18rem;
    height: 25rem;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (width< 1024px){   
    body{
        background-image: url("../Images/mobile_background.jpg");
        background-size: contain;
        transition: all ls linear;
        overflow-x: hidden;
    }
}

@media (width>= 1024px){
    body{
        background-image: url("../Images/desktop_background.jpg");
        overflow-x: hidden;
    }

    h1{
        width: 100%;
        text-align: center;
    }
    
    h2{
        width: 100%;
        text-align: left;
        margin-left: 2rem;
    }

    .wrap-cards{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap ;
    }
}