* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 5rem;
  min-height: 100vh;
}

header{
  width: 100vw;
  height: fit-content;
  background-color: #fff;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 999;
}

header > ul {
  padding: 1rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  list-style: none;
  z-index: -111;
}

a{
  color: black;
  transition: all 100ms linear;
}

a:hover{
  color: white;
  cursor: pointer;
}

h1, h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.fonseca{
  gap: 3rem;
  padding: 0;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ester{
  gap: 3rem;
  padding: 0;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tecno{
  padding-top: 2.5rem;
  padding-left: 2rem;
  width: 100%;
  height: 600px;
  background-color: #fff;
}

.contactDiv{
  background-color: #e0d9d9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leftContact, .rightContact{
  background-color: rgb(172, 172, 206);
}

.rel{
  position: relative;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.rel > img{
  position: absolute;
  width: 20rem;
  height: 20rem;
  transition: all 200ms linear;
}

.rel > img:hover{
  transform: scale(1.2);
  transition: all 400ms linear;
}

p{
  font-family: 'Quicksand', sans-serif;
}
